<?xml version="1.0"?>
<package format="3">
  <name>{{ package_name }}</name>
  <version>0.1.0</version>
  <description>Gazebo simulation for {{ source_robot_package }}</description>
  <maintainer email="dev@yourcompany.com">Your Team</maintainer>
  <license>Apache-2.0</license>

  <exec_depend>gazebo_ros</exec_depend>
  <exec_depend>rclcpp</exec_depend>
  <exec_depend>xacro</exec_depend>

  <buildtool_depend>ament_cmake</buildtool_depend>

  <export>
    <build_type>ament_cmake</build_type>
  </export>
</package>