<?xml version="1.0"?>
<package format="3">
  <name>{{ package_name }}</name>
  <version>0.1.0</version>
  <description>Gazebo simulation for {{ source_robot_package }}</description>
  <maintainer email="dev@yourcompany.com">Your Team</maintainer>
  <license>Apache-2.0</license>
  <depend>rclcpp</depend>
  <depend>gazebo_ros</depend>
  <depend>{{ source_robot_package }}</depend>
  <depend>xacro</depend>
  <export>
    <build_type>ament_cmake</build_type>
  </export>
</package>