from launch import LaunchDescription
from launch_ros.actions import Node
from launch.substitutions import LaunchConfiguration, PathJoinSubstitution
from launch.actions import DeclareLaunchArgument
from ament_index_python.packages import get_package_share_directory
import os

def generate_launch_description():
    pkg_share = get_package_share_directory('{{ package_name }}')

    # Declare launch arguments
    robot_name_arg = DeclareLaunchArgument('robot_name', default_value='{{ robot_name }}')
    x_arg = DeclareLaunchArgument('x', default_value='0.0')
    y_arg = DeclareLaunchArgument('y', default_value='0.0')
    z_arg = DeclareLaunchArgument('z', default_value='0.1')

    # Use the launch arguments
    robot_name = LaunchConfiguration('robot_name')
    x = LaunchConfiguration('x')
    y = LaunchConfiguration('y')
    z = LaunchConfiguration('z')

    # Construct the full path to the URDF file
    urdf_file_path = PathJoinSubstitution([pkg_share, 'urdf', PathJoinSubstitution([robot_name, '.urdf.xacro'])])

    # For Gazebo Sim (Ignition), use the spawn_entity.py script
    spawn_node = Node(
        package='ros_gz_sim',
        executable='create',
        arguments=[
            '-name', robot_name, # The name of the robot in the simulation
            '-topic', 'robot_description', # The topic where the URDF is published
            '-x', x,
            '-y', y,
            '-z', z
        ],
        output='screen'
    )

    return LaunchDescription([
        robot_name_arg,
        x_arg,
        y_arg,
        z_arg,
        spawn_node
    ])