#include "{{ package_name }}/{{ class_name }}.hpp"

#include "rclcpp_components/register_node_macro.hpp"

#include <functional>
#include <memory>

namespace {{ package_name }}
{

{{ class_name }}::{{ class_name }}(const rclcpp::NodeOptions & options)
: rclcpp::Node("{{ class_name | lower }}_service_server", options)
{
    using namespace std::placeholders;

    service_ = this->create_service<example_interfaces::srv::AddTwoInts>(
        "add_two_ints",
        std::bind(&{{ class_name }}::add_two_ints_callback, this, _1, _2));
    
    RCLCPP_INFO(this->get_logger(), "{{ class_name }} service server ready.");
}

void {{ class_name }}::add_two_ints_callback(
    const std::shared_ptr<example_interfaces::srv::AddTwoInts::Request> request,
    std::shared_ptr<example_interfaces::srv::AddTwoInts::Response> response)
{
    response->sum = request->a + request->b;
    RCLCPP_INFO(this->get_logger(), "Incoming request: a=%ld, b=%ld. Sending response: %ld",
                request->a, request->b, response->sum);
}

} // namespace {{ package_name }}

RCLCPP_COMPONENTS_REGISTER_NODE({{ package_name }}::{{ class_name }})