#pragma once

#include "rclcpp/rclcpp.hpp"
#include "{{ package_name }}/srv/add_two_ints.hpp"

namespace {{ package_name }} {

class {{ class_name }} : public rclcpp::Node {
public:
    explicit {{ class_name }}(const rclcpp::NodeOptions & options);
private:
    rclcpp::Service<{{ package_name }}::srv::AddTwoInts>::SharedPtr service_;
    void handle_add_two_ints(
        const std::shared_ptr<{{ package_name }}::srv::AddTwoInts::Request> request,
        std::shared_ptr<{{ package_name }}::srv::AddTwoInts::Response> response
    );
};

} // namespace {{ package_name }}