#pragma once

#include "rclcpp/rclcpp.hpp"

namespace {{ pkg }}
{

class {{ name }} : public rclcpp::Node
{
public:
    explicit {{ name }}(const rclcpp::NodeOptions & options);

private:

};

} // namespace {{ pkg }}