#include "{{ package_name }}/{{ class_name }}.hpp"

namespace {{ package_name }} {

{{ class_name }}::{{ class_name }}(const rclcpp::NodeOptions & options)
: rclcpp::Node("{{ node_name }}", options) {
    service_ = create_service<{{ package_name }}::srv::AddTwoInts>(
        "add_two_ints",
        std::bind(
            &{{ class_name }}::handle_add_two_ints,
            this,
            std::placeholders::_1,
            std::placeholders::_2
        )
    );
    RCLCPP_INFO(get_logger(), "AddTwoInts service component ready");
}

void {{ class_name }}::handle_add_two_ints(
    const std::shared_ptr<{{ package_name }}::srv::AddTwoInts::Request> request,
    std::shared_ptr<{{ package_name }}::srv::AddTwoInts::Response> response
) {
    response->sum = request->a + request->b;
    RCLCPP_INFO(get_logger(), "Request received: a=%ld, b=%ld -> sum=%ld", request->a, request->b, response->sum);
}

} // namespace {{ package_name }}
