#pragma once

#include "rclcpp/rclcpp.hpp"
#include "std_msgs/msg/string.hpp"

namespace {{ package_name }}
{

class {{ class_name }} : public rclcpp::Node
{
public:
    explicit {{ class_name }}(const rclcpp::NodeOptions & options);

private:
    void topic_callback(const std_msgs::msg::String & msg) const;

    rclcpp::Subscription<std_msgs::msg::String>::SharedPtr subscription_;
};

} // namespace {{ package_name }}
