<library path="lib/{{ package_name }}_components">
  <class type="{{ package_name }}::{{ class_name }}" base_class_type="rclcpp::Node">
    <description>{{ component_description }}</description>
  </class>
</library>