<library path="{{ package_name }}_components">
  <class 
      type="{{ package_name }}::{{ class_name }}" 
      base_class_type="rclcpp_components::NodeFactory">
    <description>{{ component_description }}</description>
  </class>
</library>
