<library path="{{ pkg }}_components">
  <class
      type="{{ pkg }}::{{ name }}"
      base_class_type="rclcpp_components::NodeFactory">
    <description>
      {{ description }}
    </description>
  </class>
</library>
