#include "genesys_macros/PublisherMacro.hpp"

// Generate a node class called "{{class_name}}"
// It publishes std_msgs::msg::String
// It fires every 1000ms
// The callback name is on_timer
ROS_PUBLISHING_NODE({{class_name}}, "chatter", std_msgs::msg::String, 1000, on_timer)

size_t count_ = 0;

void {{class_name}}::on_timer()
{
    std_msgs::msg::String msg;
    msg.data = "Hello from MACRO node #" + std::to_string(count_++);
    RCLCPP_INFO(this->get_logger(), "%s", msg.data.c_str());
    publisher_->publish(msg);
}

// Generate the main
ROS_NODE_MAIN({{class_name}})