#include "{{ package_name }}/{{ class_name }}.hpp"

namespace {{ package_name }} {

{{ class_name }}::{{ class_name }}()
: rclcpp::Node("{{ node_name }}") {
    service_ = create_service<{{ package_name }}::srv::AddTwoInts>(
        "add_two_ints",
        std::bind(
            &{{ class_name }}::handle_add_two_ints,
            this,
            std::placeholders::_1,
            std::placeholders::_2
        )
    );
    RCLCPP_INFO(get_logger(), "AddTwoInts service ready");
}

void {{ class_name }}::handle_add_two_ints(
    const std::shared_ptr<{{ package_name }}::srv::AddTwoInts::Request> request,
    std::shared_ptr<{{ package_name }}::srv::AddTwoInts::Response> response
) {
    response->sum = request->a + request->b;
    RCLCPP_INFO(get_logger(), "Request received: a=%ld, b=%ld -> sum=%ld", request->a, request->b, response->sum);
}

} // namespace {{ package_name }}

int main(int argc, char **argv) {
    rclcpp::init(argc, argv);
    auto node = std::make_shared<{{ package_name }}::{{ class_name }}>();
    rclcpp::spin(node);
    rclcpp::shutdown();
    return 0;
}