#include "{{ package_name }}/{{ class_name }}.hpp"

namespace {{ package_name }}
{

{{ class_name }}::{{ class_name }}()
: rclcpp::Node("{{ class_name | lower }}")
{
    // Create subscription
    subscription_ = create_subscription<std_msgs::msg::String>(
        "chatter", rclcpp::QoS(10),
        std::bind(&{{ class_name }}::topic_callback, this, std::placeholders::_1)
    );

    RCLCPP_INFO(get_logger(), "{{ class_name }} node created");
}

void {{ class_name }}::topic_callback(const std_msgs::msg::String & msg) const
{
    RCLCPP_INFO(this->get_logger(), "I heard: '%s'", msg.data.c_str());

}

} // namespace {{ package_name }}

int main(int argc, char * argv[])
{
    rclcpp::init(argc, argv);
    rclcpp::spin(std::make_shared<{{ package_name }}::{{ class_name }}>());
    rclcpp::shutdown();
    return 0;
}
