#include "{{ package_name }}/{{ node_name }}.hpp"

#include "rclcpp_components/register_node_macro.hpp"

namespace {{ package_name }}
{

{{ node_name }}::{{ node_name }}(const rclcpp::NodeOptions & options)
: rclcpp::Node("{{ node_name | lower }}", options)
{
    // Create subscription
    subscription_ = create_subscription<std_msgs::msg::String>(
        "chatter",
        rclcpp::QoS(10),
        std::bind(&{{ node_name }}::topic_callback, this, std::placeholders::_1)
    );

    RCLCPP_INFO(get_logger(), "{{ node_name }} component created");
}

void {{ node_name }}::topic_callback(const std_msgs::msg::String::SharedPtr msg) const
{
    RCLCPP_INFO(get_logger(), "I heard: '%s'", msg->data.c_str());
}

} // namespace {{ package_name }}

RCLCPP_COMPONENTS_REGISTER_NODE({{ package_name }}::{{ node_name }})
