#include "{{ pkg }}/{{ name }}.hpp"

#include "rclcpp_components/register_node_macro.hpp"

namespace {{ pkg }}
{

{{ name }}::{{ name }}(const rclcpp::NodeOptions & options)
: rclcpp::Node("{{ name | lower }}", options)
{
    // Create subscription
    subscription_ = create_subscription<std_msgs::msg::String>(
        "chatter", rclcpp::QoS(10),
        std::bind(&{{ name }}::topic_callback, this, std::placeholders::_1)
    );

    RCLCPP_INFO(get_logger(), "{{ name }} component created");
}

void {{ name }}::topic_callback(const std_msgs::msg::String & msg) const
{
    RCLCPP_INFO(get_logger(), "I heard: '%s'", msg.data.c_str());
}

} // namespace {{ pkg }}

RCLCPP_COMPONENTS_REGISTER_NODE({{ pkg }}::{{ name }})

