name: Genesys CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    container: ros:humble-ros-base  # ROS 2 Humble Docker image

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

